@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Quicksand:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* General font / colour styling throughout site */

body {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #13443e;
    background-color: #e4e4e0;
}

h1, h2 {
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #13443e;
}

/* header */
#header-bar {
    font-size: 2rem;
    color: #13443e;
    height: 70px;
}

#logo {
    float: left;
    margin-left: 30px;
}

#btn-help {
    font-size: 2.5rem;
    float: right;
    margin-right: 30px;
    margin-top: 20px;
    color: #13443e;
    background-color: inherit;
}

/* question and results container */
#question-container, #results-container {
    width: 90%;
    background: #F4D1AF;
    border-radius: 20px;
    margin: 20px auto;
    padding: 20px;
}

/* buttons */
.btn {
    font-size: 1.2rem;
    font-family: inherit;
    border: 1px solid #13443e;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    background-color: #efefef;
}

.btn:hover {
    background-color: #13443e;
    color: #efefef;
}

.btn-grid {
    display: grid;
    width: 700px;
    max-width: 80%;
    margin: 5px;
}

.btn-answer {
    text-align: left;
}

.active {
    background-color: #13443e;
    color: #efefef;
}

.hide {
    display: none;
}

/* image sizing and positioning */
img {
    width: 400px;
    max-width: 80%;
}

/* pop up */
#pop-up {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    z-index: 10;
    width: 500px;
    max-width: 80%;
}

#pop-up.active {
    transform: translate(-50%, -50%) scale(1);
}

.pop-up-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#close-btn {
    font-size: 1em;
    background-color: inherit;
    color: #13443e;
    width: 30px;
    height: 30px;
}

#close-btn:hover {
    border: 1px solid #13443e;
    border-radius: 50%;
}

#overlay {
    background-color: rgba(19, 68, 62, 0.5);
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

